################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CinemaManager/CinemaManager/obj/Debug
/CinemaManager/CinemaManagerTests/obj/Debug
/CinemaManager/packages
/CinemaManager/Utilities/obj/Debug
/CinemaManager/.vs/CinemaManager/v14
/CinemaManager/CinemaManager/bin/Debug
/CinemaManager/CinemaManagerTests/bin/Debug
/CinemaManager/Utilities/bin/Debug
